/* Estilos Generales */

/* Estilos de header */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: orange;
}

ul li {
    display: inline-block;
}

ul li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

header {
    background-color: gray;
    padding-bottom: 20px;
}

img {
    border-radius: 10px;
    width: 300px;
}

p {
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-family: math;
    font-size: xxx-large;
}