/* Estilos Generales */

/* Estilos de header */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: orange;
}

ul li {
    display: inline-block;
}

ul li a{
    color: white;
    text-decoration: none;
}

.alineadoTextoImagenAbajo{
    vertical-align: middle;
}