/* Estilos Generales */

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
   }

   h1 {
     color: darkred;
   }

   h2 {
       color: darkred;
   }
/* Estilos de header */

/* Estilos de navegador/menu*/
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: orange;
    font-size: larger;
    
}

ul li {
    display: inline-block;
    text-align: center;
}

ul li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
/*Estilos del bloque header*/
header {
    background-color: gray;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 10px;
}
/* Estilos de la imagen WATT*/
img {
    border-radius: 12px;
    width: 300px;
    display: inline-block;
}

.main {
    display: inline-block;
    color: white;
}

/* Body Pagina 1 */

/*Estilos de banner*/
.banner {
    margin:0 auto;
    display:block;
    width: 100%;   
}

/*Estilos del texto */

section{
    text-align: justify;
    font-size: larger;
}


/*Estilos para linear la clase .aprendido/elemento de bloque*/
.aprendido  {
    display: inline-block;
    background-color: antiquewhite;
    padding: 10px;
    width: 48%;
    
}

ol {
    list-style-type: none;
}

.gustos {
    display: inline-block;
    background-color: cadetblue;
    padding: 10px;
    width: 48%;
}

/* Body Pagina 2 */

/*Titulo de la pagina */
.biografia {
    color: black;
    
}
/*Estilos de foto perfil*/

.perfil{
    width: 200px;
    vertical-align: text-top;  
    float: left;
    margin-right: 20px;
   
}
/*Estilos de texto oculto*/
#textoOculto{
    display: none;
   
}

span {
    font-weight: 700;
}
/*Body Pagina 3*/
#familia, #paseos {

    display: none;
}
.image {
    display: inline-block;
    width: 300px;
}

.image img:hover {
    transform: scale(1.1);
}

nav{
    padding-bottom: 50px;
}

#hobbies-btn, #familia-btn, #paseos-btn, #toggleSections {
 
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 7px 7px 11px #000000;
    -moz-box-shadow: 7px 7px 11px #000000;
    box-shadow: 7px 7px 11px #000000;
    font-family: Arial;
    color: #050005;
    font-size: 15px;
    background: #d18e07;
    padding: 7px 7px 7px 7px;
    text-decoration: none;

}
/* Footer */

footer{
    background-color: grey;
    color: white;
    padding: 20px;
    font-size: x-large;
    font-family: math;
}

/*Estilos de redes sociales*/
.fab.fa-facebook-square {
    color: white;
}

.fab.fa-instagram-square {
    color: white;
}

.fab.fa-twitter-square {
    color: white;
}

.fab.fa-linkedin{
    color: white;
}